[Unit]
Description=HOMEINFO News Service
Requires=his.service

[Service]
User=hinews
Group=hinews
ExecStart=/usr/local/bin/hinewsd

[Install]
WantedBy=wsgi-services.target
